# NOTE: Requires **VS2019 16.3** or later

# CAO Rules
# Description: These rules focus on the most critical problems in your code, including potential security holes, application crashes, and other important logic and design errors. It is recommended to include this rule set in any custom rule set you create for your projects.

# Code files
[*.{cs,vb}]


dotnet_diagnostic.CA1001.severity = warning

dotnet_diagnostic.CA1009.severity = warning

dotnet_diagnostic.CA1016.severity = warning

dotnet_diagnostic.CA1033.severity = warning

dotnet_diagnostic.CA1049.severity = warning

dotnet_diagnostic.CA1060.severity = warning

dotnet_diagnostic.CA1061.severity = warning

dotnet_diagnostic.CA1063.severity = warning

dotnet_diagnostic.CA1065.severity = warning

dotnet_diagnostic.CA1301.severity = warning

dotnet_diagnostic.CA1400.severity = warning

dotnet_diagnostic.CA1401.severity = warning

dotnet_diagnostic.CA1403.severity = warning

dotnet_diagnostic.CA1404.severity = warning

dotnet_diagnostic.CA1405.severity = warning

dotnet_diagnostic.CA1410.severity = warning

dotnet_diagnostic.CA1415.severity = warning

dotnet_diagnostic.CA1821.severity = warning

dotnet_diagnostic.CA1900.severity = warning

dotnet_diagnostic.CA1901.severity = warning

dotnet_diagnostic.CA2002.severity = warning

dotnet_diagnostic.CA2100.severity = warning

dotnet_diagnostic.CA2101.severity = warning

dotnet_diagnostic.CA2108.severity = warning

dotnet_diagnostic.CA2111.severity = warning

dotnet_diagnostic.CA2112.severity = warning

dotnet_diagnostic.CA2114.severity = warning

dotnet_diagnostic.CA2116.severity = warning

dotnet_diagnostic.CA2117.severity = warning

dotnet_diagnostic.CA2122.severity = warning

dotnet_diagnostic.CA2123.severity = warning

dotnet_diagnostic.CA2124.severity = warning

dotnet_diagnostic.CA2126.severity = warning

dotnet_diagnostic.CA2131.severity = warning

dotnet_diagnostic.CA2132.severity = warning

dotnet_diagnostic.CA2133.severity = warning

dotnet_diagnostic.CA2134.severity = warning

dotnet_diagnostic.CA2137.severity = warning

dotnet_diagnostic.CA2138.severity = warning

dotnet_diagnostic.CA2140.severity = warning

dotnet_diagnostic.CA2141.severity = warning

dotnet_diagnostic.CA2146.severity = warning

dotnet_diagnostic.CA2147.severity = warning

dotnet_diagnostic.CA2149.severity = warning

dotnet_diagnostic.CA2200.severity = warning

dotnet_diagnostic.CA2202.severity = warning

dotnet_diagnostic.CA2207.severity = warning

dotnet_diagnostic.CA2212.severity = warning

dotnet_diagnostic.CA2213.severity = warning

dotnet_diagnostic.CA2214.severity = warning

dotnet_diagnostic.CA2216.severity = warning

dotnet_diagnostic.CA2220.severity = warning

dotnet_diagnostic.CA2229.severity = warning

dotnet_diagnostic.CA2231.severity = warning

dotnet_diagnostic.CA2232.severity = warning

dotnet_diagnostic.CA2235.severity = warning

dotnet_diagnostic.CA2236.severity = warning

dotnet_diagnostic.CA2237.severity = warning

dotnet_diagnostic.CA2238.severity = warning

dotnet_diagnostic.CA2240.severity = warning

dotnet_diagnostic.CA2241.severity = warning

dotnet_diagnostic.CA2242.severity = warning

dotnet_diagnostic.CS1573.severity = none

dotnet_diagnostic.CS1591.severity = none

dotnet_diagnostic.CS1712.severity = none

dotnet_diagnostic.IDE0041.severity = none

dotnet_diagnostic.IDE0041WithoutSuggestion.severity = none

# Xml Comment Analysis Disabled
dotnet_diagnostic.SA0001.severity = none

# Parameter Must Not Span Multiple Lines
dotnet_diagnostic.SA1118.severity = none

# Do Not Place Regions Within Elements
dotnet_diagnostic.SA1123.severity = none

# Do Not Use Regions
dotnet_diagnostic.SA1124.severity = none

# Use Lambda Syntax
dotnet_diagnostic.SA1130.severity = none

# Elements Must Appear In The Correct Order
dotnet_diagnostic.SA1201.severity = none

# Elements Must Be Ordered By Access
dotnet_diagnostic.SA1202.severity = none

# Static Elements Must Appear Before Instance Elements
dotnet_diagnostic.SA1204.severity = none

# Fields Must Be Private
dotnet_diagnostic.SA1401.severity = none

# File May Only Contain A Single Type
dotnet_diagnostic.SA1402.severity = none

# Code Analysis Suppression Must Have Justification
dotnet_diagnostic.SA1404.severity = none

# ElementsMust Be Documented
dotnet_diagnostic.SA1600.severity = none

# Partial Elements Must Be Documented
dotnet_diagnostic.SA1601.severity = none

# Enumeration Items Must Be Documented
dotnet_diagnostic.SA1602.severity = none

# Element Documentation Must Have Summary
dotnet_diagnostic.SA1604.severity = none

# Element Documentation Must Have Summary Text
dotnet_diagnostic.SA1606.severity = none

# Element Parameters Must Be Documented
dotnet_diagnostic.SA1611.severity = none

# Element Parameter Documentation Must Match Element Parameters
dotnet_diagnostic.SA1612.severity = none

# Element Parameter Documentation Must Have Text
dotnet_diagnostic.SA1614.severity = none

# Element Return Value Documentation Must Have Text
dotnet_diagnostic.SA1616.severity = none

# Generic Type Parameters Must Be Documented
dotnet_diagnostic.SA1618.severity = none

# Generic Type Parameter Documentation Must Have Text
dotnet_diagnostic.SA1622.severity = none

# File Must Have Header
dotnet_diagnostic.SA1633.severity = none

# Constructor Summary Documentation Must Begin With Standard Text
dotnet_diagnostic.SA1642.severity = none

# File Name Must Match Type Name
dotnet_diagnostic.SA1649.severity = none
